.bigbluebutton-container-inline > .form-item {
  display: inline-block; /* LTR */
  margin-right: 1em; /* LTR */
}

.views-exposed-form .form-checkboxes {
  display: inline;
}

.views-exposed-form .form-checkboxes .form-item {
  float: left;
  padding-left: 10px;
}