<h2>{{'Recordings'|t}}</h2>  
{% if recordings%}
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Recording from</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    {% for recording in recordings %}
      <tr>
        <td class="recording__position">
          {{ recording.recording_position }}
        </td>
        <td class="recording__label">
          <a target="_blank" class="meeting-recording" href="{{ recording.recording.url }}">           
            Show meeting from {{ recording.recording_date }}
          </a>
        </td>
        <td class="recording__delete">
          {{ recording.delete_form }}
        </td>
      </tr>
    {% endfor %}
  </table>
{% else %}
  <h3>No Recordings available</h3>
{% endif %}
