<h2>{{'Recordings'|t}}</h2>

<style>
  .ui-dialog{
    height: {{display_options.modal.height}} !important;
  }
  .ui-dialog-content{
    max-height: none !important;
    position: absolute !important;
    top: 40px;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }

  .block-virtual-events-block .btn.join-meeting{
    width: auto;
    margin: 27px auto;
  }
</style>

{% if recordings%}
  <div class="recordings-wrapper">
    {% for recording in recordings %}
    <div class="recording__thumnail">
      <a class="meeting-recording use-ajax"
         data-dialog-options="{&quot;width&quot;:400}" 
         data-dialog-type="modal"
         href="{{ url }}/{{ recording.recording.recordID }}">
        <img src="{{recording.recording.preview.images.image.0}}" />
      </a>
      {{ recording.delete_form }}
    </div>
    {% endfor %}
  </div>
{% else %}
  <h3>No Recordings available</h3>
{% endif %}
